<!DOCTYPE html>
<html>
<head>
  <title>IsSoftware</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/softwares/mac">Mac</a></li>
        <li><a href="/softwares/linux">Linux</a></li>
        <li><a href="/softwares/windows">Windows</a></li>
        <li><a href="/softwares/ios">Ios</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a><%= session[:cas_user] %></a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
  <%= yield %>
</div>

</body>
</html>



